.footer-info {
.bg-col(@redDk);
.border-top(@red, 0.5);
.col(@white);	
.pad-top(2);
.pad-bot(2);
.rel;

	@media (min-width: @screen-sm) { 
	.pad-top(4);
	}

	@media (min-width: @screen-md) { 
	.pad-bot(6);
	}

	.row {
		.rel;
	}

	&:before {
		content: "";
		.abs;
		.w(3.1);
		.h(3.4);
		.mag-left(-1.55);
		.top(-2);
		.block;
		left: 50%;
		.bg(transparent; "footer-icon.png"; no-repeat;  center ; center);
		.bg-size(contain); 
		
		@media (min-width: @screen-sm) { 
		.w(6.2);
		.h(6.8);
		.mag-left(-3.1);
		.top(-3.4);
		.bg-size(auto);
		}
	}
	
	.footer-rule {
	.pad-bot(1);
	.border-bot(@white, 0.1);
	}
	
	#bottom-nav {
		
		ul {
		list-style: none;
		.pad-left(0);
		.mag-bot(0);
		overflow: hidden;
		}
		
		a {
		.col(@white);
		outline: 0;	
		.block;
		.mag-bot(1);
		.no-text-dec;
			&:hover, &:active, &:focus {
				.col(@red);
			}
			
			&:not([href]) {
				&:hover, &:active, &:focus {
				.col(@white);
				}
			}
		}
		
		// sub list style
		li {
		.caps;
		.slab-serif;
		.font-size(1.8);
		.mag-bot(2);		
			ul.sub-menu {
				li {
				.no-caps;
				.mag-bot(0);
				.font-size(1.3);	
				.sans-serif;
					a {
					.mag-bot(0);
					display: inline;
					}
					&:before {
					.mag-right(.3);
					content: "\00BB \0020";
					.col(@red);
					}
				}	
			}
			
		}
		
	}
	
	#quick-links {
		ul {
		list-style: none;
		.pad-left(0);	
			li {
			.mag-bot(1);
			
			@media (min-width: @screen-md) { 
			.mag-bot(2);
			}
			
				&.contact-us a:before {
				.bg-img("contact-us-icon.png");	
					
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2){ 
					  
					.bg-img("x2/contact-us-icon-x2.png");
					.bg-size(contain);
					}
				}
				
				&.newsletter a:before {
				.bg-img("newsletter-icon.png");	
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2){ 
					  
					.bg-img("x2/newsletter-icon-x2.png");
					.bg-size(contain);
					}
				}	
				
				&.calculator a:before {
				.bg-img("claims-calculator-icon.png");	
				}
				
				&.downloads a:before {
				.bg-img("downloads-icon.png");
				
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2){ 
					  
					.bg-img("x2/downloads-icon-x2.png");
					.bg-size(contain);
					}	
				}	
				
				&.feedback a:before {
				.bg-img("feedback-icon.png");	
				
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2){ 
					  
					.bg-img("x2/feedback-icon-x2.png");
					.bg-size(contain);
					}

				}	
			}

		}
		
		a {
		.block;
		.h(4);
		.line-h(4);
		.font-size(1.2);
		.center;
		.bg-col(@white);
		.bg(@white; "quick-link-arrow.png"; no-repeat; right ; center);
		.rel;
		.caps;
		.no-text-dec;
		outline: 0;
		.col(@grey);
		.slab-serif;
		
		@media (min-width: @screen-sm) {
		.font-size(1.4);
		}
		//.mag-right(3);
			&:before {
			content: "";
			.abs;
			.left(0);
			.top(0);
			.h(4);
			.w(4);
			.bg-pos(@red; no-repeat; center; center);
			}
			
			&:hover, &:active, &:focus {
				.bg-col(@grey);	
				.col(@white);
			}
		}
		
		@media (min-width: @screen-md) { 
	
		a {.mag-right(0); }
		
		}
		
		@media (min-width: @screen-lg) { 
	
		a {.font-size(1.6); .mag-right(3);}
		
		}

	}
	
	#standards-logos {
	.abs;
	//.w(9);
		p {
		.mag-bot(.8);
		.font-size(1.2);
		.line-h(1.2);
		.slab-serif;	
		}
		
		a:hover {
			img {
			.opacity(0.7);	
			}		
		}
		
		img {
		.block;
		.mag-bot(1);
		}	
		
	@media (min-width: @screen-md) { 
	width: 50%;
	.pad-left(3);
	.top(24);
	.right(1.5);
		a {
		.fleft;	
		.mag-right(1);
		}
	}
	
	@media (min-width: @screen-lg) { 
	.w(10.2);
	.pad-left(0);
	.top(0);
	.right(1.5);
		a {
			.no-float;
			.mag-right(0);	
		}
	}
	
	}
	
	#footer-copyright {
	.pad-top(2);
	
	@media (min-width: @screen-sm) { 
	.pad-top(3);
	}
	
		.footer-copyright-inner {
			
			@media (min-width: @screen-xs) { 
			background: none;
			}
	
			@media (min-width: @screen-sm) { 
			background: none;
			}
			
			@media (min-width: @screen-md) { 
			.pad-left(10);
			.bg(transparent; "footer-logo.png"; no-repeat; left ;top);
			}
		
			@media (min-width: @screen-lg) { 
			.pad-left(10);
			.bg(transparent; "footer-logo.png"; no-repeat; left ;top);
			}

		}
			
		p {
		.mag-bot(0);	
		.font-size(1.2);
			
			@media (min-width: @screen-lg) {
			.font-size(1.3);
			}

		}
		
	}
	
	#social-icons {
	.min-h(3);
	
	@media (min-width: @screen-xs) { 
	.min-h(3);
	.center;
	}

	@media (min-width: @screen-sm) { 
	.min-h(3);
	.center;
	}
	
	@media (min-width: @screen-md) { 
	.min-h(11);
	}

	@media (min-width: @screen-lg) { 
	.min-h(11);
	}
	
		ul {
			list-style: none;
			.pad-left(0);
			.h(3);
			.mag-top(1);
			.mag-bot(0);
			
			@media (min-width: @screen-md) { 
			.abs;
			.bottom(0);
			.right(1.5);
			.mag-top(0);
			}
		
			@media (min-width: @screen-lg) { 
			.abs;
			.bottom(0);
			.right(1.5);
			.mag-top(0);
			}
			
			li {
				.fleft;
				.mag-left(.3);
				.w(3);
				.h(3);
				
				&:first-child{
				.mag-left(0);	
				}
				
				a {
				.block;
				.h(3);
				.w(3);
				.txt-gone;	
				.bg-col(@white);
				.bg(transparent; "footer-social-icons.png"; no-repeat; left ; top);
				outline: 0;
					&:hover, &:active, &:focus {
						.opacity(0.7);
					}
				}
				
				&.facebook {
					a {
					background-position-x: -30px;
					}
				}
				
				&.linkedin {
					a {
					background-position-x: -60px;
					}
				}
				
				&.google {
					a {
					background-position-x: -90px;
					}
				}
			}
		}
	}
}