#claim-form-wrap {
	.w(30.5);
	.border-left(@red, 0.5);
	height: 100%;
	.top(0);
	.right(0);
	overflow: auto;
	.bg(@redDk; 'inner-side-shadow-left.png'; repeat-y);
	z-index: 10;
	
	&.abs {
	top: 100%;
	}
	
	&.fixed {
	.top(0);
	}
	
	h3 {
	.col(@red);
	.serif;
	.italic;	
	.font-size(3);
	.normal;
	.mag-top(0);
	}
	
	#gforms_confirmation_message {
	.col(@white);	
	}
	
	.sidebar-inner {
	.pad-all(2);
	}
	
		button.close {
		.col(@red);	
		.abs;
		.right(1);
		.top(.5);
		.opacity(1);	
		text-shadow: none;
			&:hover, &:active, &:focus {
			.col(@white);	
			}
		}
		
		#gforms_confirmation_message {
		.bold;
		}
		
		.gform_wrapper {
			.mag-all(0);
			
			.gform_heading {
				h3 {
				.col(@red);
				.serif;
				.italic;	
				.font-size(3);
				.normal;
				.mag-top(0);
				}
				
				span.gform_description {
					.col(@white);
				}
			}
			
			.gfield {
				label {
				.col(@white);	
					span.gfield_required {
					.col(@red);
					}
				}
				input[type=text], input[type=email], input[type=tel] {
					.rounded(4px);
					.no-border;
				}
				
				&.gfield_error {
					label {
					.col(@red);	
					}
					
					.validation_message {
					.col(@red);	
					}

				}
			}
			
			.validation_error {
				.font-size(1.2);
				.col(@red);
			}
			
			li.gfield.gfield_error.gfield_contains_required label.gfield_label, 
			li.gfield.gfield_error.gfield_contains_required div.ginput_container {
				.mag-top(0);
			}
			
			.ginput_container + .gfield_description.validation_message {
				.mag-top(0);
			}
			
			li.gfield.gfield_error, 
			li.gfield.gfield_error.gfield_contains_required {
				.pad(.6;.6;0;.6) !important;
			}
			
			.gfield_radio li input[type="radio"] {
				.mag-left(.2);
			}
			
			.gform_footer {
				.mag-top(0);
				
				.button {
				width: 100%;
				.h(4);
				.col(@white);
				.slab-serif;
				.no-border;	
				.rounded(4px);
				.font-size(1.8);
				.bg(@red; "circle-arrow-right-20x20.png"; no-repeat; right ;center);
				.align-left;
				.indent(2);
					&:hover, &:active, &:focus {
					.bg-col(@redMid90);
					}
				}
			}
			
		}	
		
}

#dm_widget-3 {
	.pad-all(2);
	.bg-col(@black50);
	.mag-top(2);
	.mag-bot(2);
	.rounded(4px);
	.inner-shadow(0, 0, 5px, 0.5);
	
	h2 {
	.mag-top(0);
	.font-size(2.5);	
	}
	
	 #dotMailer_news_letter {
		width: 70%;	 
		 
		 input[type="text"], input[type="string"] {
		 width: 98%; 
		 .h(4);
		 .rounded(4px);
		 .no-border;
		 .mag-bot(1);
		 .indent(1);
		 }
	 }
}

#contact-form {
	.mag-top(2);
	.mag-bot(2);
	.bg-col(@grey70);
	.inner-shadow(0, 0, 5px, 0.5);
	.rounded(4px);
	.pad-all(2);
	
	#gforms_confirmation_message {
		.center;	
			h3 {
			.serif;
			.col(@red);
			.italic;
			.font-size(3);
			.mag-top(0);
			.mag;
			}
			
			p, a {
			.font-size(1.6);
			}
			
	}
	
	.gform_wrapper {
	.mag-all(0);
	max-width: 100%;
		.gform_heading {
		.center;
			
			h3 {
			.serif;
			.col(@red);
			.italic;
			.font-size(3);
			.mag-top(0);
			.mag-bot(1);
			}
			
			span {
				.block;
				.pad-bot(2);
				.border-bot(@red, 0.2);
			}
				
		}
		
		input[type="text"], input[type="email"], input[type="tel"]{ 
		 .h(4);
		 .rounded(4px);
		 .no-border;
		 text-indent: 10px;
		  .font-size(1.6);
		 }
		 
		 textarea { 
		 .rounded(4px);
		 .no-border;
		  .font-size(1.6);
		  .h(15);
		 }
		 
		 .gform_footer {
			 .center;
		 }
		 
		 input.button {
			.no-border;
			.bg(@red; "circle-arrow-right-20x20.png"; no-repeat; right ;center);
			.rounded(4px);
			.col(@white);
			.h(4);
			.pad(0;6;0;2);
			.caps;
			.slab-serif; 
				&:hover {
					.bg-col(@redMid);
				}
		 }

	}
	
}

.search-form-wrap {
	.center;
	.mag-bot(2);
	
	input[type="search"]{
		.w(30);
	}
}

.form-wrap {
.mag(2;0;2;0);
.pad-all(1);
.bg-col(@black40);
.inner-shadow(0, 0, 5px, 0.5);
.rounded(4px);

	@media (min-width: @screen-sm) { 
	.pad-all(2);
	}

	gforms_confirmation_message {
			h3 {
			.mag-top(0);
			}
			
			p {
			.mag-bot(1);
			}
	}
	.gform_wrapper {
		.mag-all(0);
		max-width: 100%;
	
		.gform_heading {
		.center;
				
			h3.gform_title {
			.none;
			}
			
			span {
				.block;
				.pad-bot(2);
				.border-bot(@red, 0.2);
			}
				
		}
		
		input[type="text"], input[type="email"], input[type="tel"]{ 
		 .h(4);
		 .rounded(4px);
		 .no-border;
		 .font-size(1.6);
		 text-indent: 10px;
		 }
		 
		 textarea { 
		 .rounded(4px);
		 .no-border;
		 .font-size(1.6);
		 	&.large {
			 .h(15); 	
		 	}
		 }
		 
		 .gform_footer {
			 .center;
		 }
		 
		 input.button {
		 	width: 50%;
			.no-border;
			.bg(@red; "circle-arrow-right-20x20.png"; no-repeat; right ;center);
			.rounded(4px);
			.col(@white);
			.h(4);
			.pad(0;6;0;2);
			.caps;
			.slab-serif; 
				&:hover {
					.bg-col(@redMid);
				}
		 }
		
	}	
	
	
}

.block-content .gform_wrapper {
	.mag-all(0);
	
	h3.gform_title {
		.col(@white);
		.mag-all(0);
	}
	
	.gform_heading {
		.mag-bot(1);
	}
	
	.gform_description, label, input[type="file"] {
	.col(@white);
	}
	
	.gfield_description {
	.col(@red);
	}
	
	input[type="file"] {
	width: 99% !important;
	}
	
	.validation_error {
	.col(@red);
	.font-size(1.4);	
	}
	
	li.gfield.gfield_error.gfield_contains_required label.gfield_label, 
	li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		.mag-top(0);
	}
	
	.validation_message {
		.mag-top(0);
		.col(@red);
	}
	
	.top_label .gfield_description.validation_message, 
	.gfield_description.validation_message {
	.pad-all(0) !important;	
	}
	
	.gfield_required {
	.col(@red);
	}
	
	.ginput_container input[type="text"], 
	.ginput_container input[type="email"],
	.ginput_container input[type="tel"] {
	.rounded(4px);
	.no-border;	
	}
	.gform_footer {
	.mag-top(1);
	
		input.button {
			.block;
			width: 100%;	
			.rounded(4px);
			.no-border;
			.bg-col(@red);
			.col(@white);
			.slab-serif;
		}
	}
}