#show-main-menu {
.fixed;
width: 100%;
.h(5);
.transition(0.5s, ease-in-out);
z-index: 20;

	button {
	width: 100%;
	.h(4);
	.no-border;
	.border-radius(0, 4px, 4px, 0);
	.bg(@red; "nav-btn-arrow.png"; no-repeat;  right ;top);
	.col(@white);
	.drop-shadow(0, 0, 10px, 0.7);
	.transition(0.5s, ease-in-out);
	.slab-serif-bold;
		&:hover,&:active, &:focus{
		.col(@red);	
		.bg-col(@white);
		background-position: right bottom;
		}
	}
	
	&.btn-hidden {
	.top(-5);	
	}
	
	&.btn-visible {
	.top(0);		
	}
	
	&.side-form-closed {
	.left(0);	
	}
	
	&.side-form-open {
	.left(-30.5);		
	}
}

.page-wrapper {
.bg(@white; "slider-corner-top-sml.png"; no-repeat; right ;top);
width: 100%;
min-height: 100%;
.rel;
.transition(0.5s, ease-in-out);
.top(0);
z-index: 15;

	@media (min-width: @screen-md) { 
	.bg(@white; "slider-corner-top.png"; no-repeat; right ;top);
	}

	&.side-form-closed {
	.mag-left(0);
	}
	
	&.side-form-open {
	.mag-left(-30.5);
	box-shadow: none;
	}
	
	.breadcrumb-wrap {
	.pad-top(10);
	//.bg-col(@white);
	//.bg(@white; "slider-corner-top.png"; no-repeat; right ;top);
	.slab-serif;
	
	
		.breadcrumb-inner-wrap {
		.bg-col(@redDk);
		.col(@white);	
			.container {
			.h(3);
			.line-h(3);
			}		
		}
		
		span.separator, span.first, span.last {
		.pad(0;2;0;2);	
		.bg(transparent; "seperator.png"; no-repeat; center ;center);
		}
		
		a {
		.line-h(3);
		.col(@grey);	
		outline: none;
		.no-text-dec;
			&:hover, &:active, &:focus {
			.col(white);
			}
		}
	}

	.container {
	.rel;
	//.min-w(97);
	}
		
}

.content {
.pad-bot(2);

	@media (min-width: @screen-sm) { 
	.pad-bot(3);
	}

	.rule {
		.h(3);
		.bg(transparent; "rule-fw.png"; no-repeat;  center ; center);
		.bg-size;
		
		@media (min-width: @screen-sm) { 
		.h(4);
		.bg(transparent; "rule-fw.png"; no-repeat;  center ; center);
		.bg-size(auto);
		}
		
		&.mag-bottom-20 {
		.mag-bot(1);	
		
			@media (min-width: @screen-md) { 
			.mag-bot(2);
			}
		}
	}
	
	.rule-sml {
		.h(2);
		.bg(transparent; "rule-fw-sml.png"; no-repeat;  center ; top);
		.bg-size;
		
		@media (min-width: @screen-sm) { 
		.h(3);
		.bg(transparent; "rule-fw-sml.png"; no-repeat;  center ; top);
		.bg-size(auto);
		}
			
			&.mag-bottom-20 {
				.mag-bot(1);	
				
				@media (min-width: @screen-md) { 
					.mag-bot(2);
				}
			}
	}
	
	.tagline {
		.font-size(1.8);
		.col(@grey);
		.serif;
		.italic;
		.center;
		.rel;
		.mag-top(1);
		.pad-top(1);
		
		@media (min-width: @screen-sm) { 
		.font-size(3);
		.mag-top(2);
		.pad-top(2);
		}
				
		&:before {
			content: "";
			.abs;
			.top(0);
			left: 50%;
			margin-left: -10%;
			width: 20%;
			.h(0);
			.border-top(@redMid, 0.1);
		}
	}
	
	.page-header {
		.no-border;
		.center;
		.mag-bot(0);
		.pad-bot(1);
		.mag-top(2);
		
		@media (min-width: @screen-md) { 
		.mag-top(4);
		.pad-bot(2);
		}
		
		h1 {
		.serif;
		.col(@red);
		.rel;
		.font-size(2.6);

			@media (min-width: @screen-xs) { 
	
			.font-size(2.6);
			
				span {
				.bg-col(@white);
				.pad(0;1;0;1);
				.rel;
				z-index: 5;
				}

			
				&:before {
				.abs;
				content: "";
				display: block;
				width: 100%;
				top: 50%;
				.border(@redMid, 0.1);
				.h(0.1);
				z-index: 1;
				}
		
			}
			
			@media (min-width: @screen-sm) { 
	
			.font-size(3);
		
			}
			
			@media (min-width: @screen-md) { 
	
			.font-size(3.6);
		
			}
			
		}
		
		.date, .head-tag {
			.block;
			.pad(1;3;1;3);
			.bg-col(@grey);
			.col(@white);
			.slab-serif;
			.rounded(4px);
			.inner-shadow(0, 0, 7px, 0.7);
			.font-size(1.2);
			
			@media (min-width: @screen-sm) { 
			.in-block;
			.font-size(1.4);
				br {
					.none;
				}
		
			}
			
			span {
			.mag-right(.5);
			}
		
		}
		
		.head-email {
		.mag-top(1);
			
			span {
			.mag-right(.3);
			.col(@grey);
			}
			
			a {
			.col(@grey);
				&:hover {
				.col(@red);	
				}	
			}
		}
	}
	
	figure.feat-img {
		.mag-top(4);
		.rel;
		
		.corner-top, .corner-bottom {
		height: 100%;
		//width: 50%;	
		.bg-img("featured-img-border.png");
		}
		
		.corner-top {
			.abs;
			.top(0);
			.right(0);
			width: 50%;
			.bg-pos(transparent; no-repeat; right; top);
		}
		
		.corner-bottom {
			.abs;
			.bottom(0);
			.left(0);
			width: 50.1%;
			.bg-pos(transparent; no-repeat; left; bottom);
		}
		
		.img {
			.rel;
			.mag-bot(.5);
			.over-hide;
			//.rounded(4px);
			
			img {
			.block;
			height: auto;
			width: 100%;
			.rounded(10px);
			}
			
			@media (min-width: @screen-sm) { 
			.h(35);
			
				img {
					.abs;
					left: 50%;
					.mag-left(-42.5);
					height: inherit;
					width: inherit;
					.rounded(0px);
				}
			}
			
		}
		
		&.slim-img {
			.corner-top, .corner-bottom {	
			.bg-img("featured-img-slim-border.png");
			}
			
			.img {
			.h(20);	
			
				img {
				.mag-left(-57);	
				}
			}
		}
	}
	
	.caption {
	.font-size(1.2);
	.serif;
	.italic;
			
			@media (min-width: @screen-sm) { 
	
			.font-size(1.4);
		
			}	
	}

	.intro, .cat-intro {
	.font-size(1.6);
	.line-h(2);
	.col(@grey);
	.mag-bot(2);
	.serif;
	
		br {
		.none;	
		}
	
		@media (min-width: @screen-sm) { 
	
				br {
				display: inline;
				}
		
		}
		
		&.lrg {
			
			@media (min-width: @screen-sm) { 
	
			.font-size(2.4);
			.line-h(2.8);	
		
			}
		
			@media (min-width: @screen-md) { 
	
			.font-size(1.8);
			.line-h(2.2);	
		
			}
			
			@media (min-width: @screen-lg) { 
	
			.font-size(2.4);
			.line-h(2.8);	
		
			}
		}
	}
	
	.job-details {
	.pad-all(1);
	.bg-col(@redMid);
	.col(@white);
	.center;	
	.font-size(1.2);
	.rounded(4px);
	.inner-shadow(0, 0, 7px, 0.7);
	.mag-bot(1);
	
			p {
			.mag-bot(0);	
			}
			
			@media (min-width: @screen-sm) { 
			.font-size(1.4);
			.mag-bot(3);
			}
			
			
	}
	
	.no-posts-message {
	.mag-top(2);	
		h3 {
		.center;
		.serif;
		.col(@redMid);	
		.mag-all(0);
		.mag-bot(1);
		}
		
		p {
		.center;	
		.font-size(1.8);
		.serif;
		.italic;
		.col(@grey);
		.mag-bot(0);
		}
	}
	
	.testimonial p {
	.center;
	.col(@grey);
	.serif;
	.italic;
	.font-size(3);
	.line-h(3.4);	
	}
	
	article.page, article.post {
	.font-size(1.2);
	
	 	@media (min-width: @screen-sm) { 
	
		.font-size(1.4);
		
		}	
	
		a {
		.bold;	
		}
		
		.job-link-btn {
		.bg(@red; "circle-arrow-right-20x20.png"; no-repeat; right; center);
		.col(@white);
		.no-border;
		.caps;
		.slab-serif;
		.mag-bot(2);
			&:hover, &:active, &:focus {
				.bg-col(@redMid);
			}	
		}
		
		h3, h4, h5 {
		.col(@red);
		.slab-serif-bold;	
		}
		
		h3 {
		.font-size(1.6);
		.caps;
		
			@media (min-width: @screen-sm) { 
			.font-size(3);
			text-transform: none;
			}
			
		}
		
		h4 {
		.font-size(1.4);
		.caps;	
		
			@media (min-width: @screen-sm) { 
			.font-size(2);
			text-transform: none;
			}
		}
		
		h5 {
		.font-size(1.4);	
		.caps;
		
			@media (min-width: @screen-sm) { 
			.font-size(1.5);
			text-transform: none;
			}
		}
		
		hr {
		.border-col(@grey80);	
		}
		//Unordered list
		ul {
		list-style: none;
		.pad-left(2);
			li {
			.pad-left(2);
			.rel;
			}
			li:before {
			.abs;
			.left(0);
			content: "\00BB";
			.col(@red);
			.bold;		
			.mag-right(1);
			}
		}
		
		//Ordered list
		ol {
		list-style: none;
		.pad-left(2);
		list-style-position: inside;
			li {
			counter-increment: list-counter;
			.pad-left(2);
			.rel;
				&:before {
				.abs;
				.left(0);
				content: counter(list-counter) ". \0020";
				.col(@red);
				.bold;
				}
			}
		}
		
		.form-wrap {
			ul {
			.pad-left(0);
			}
			li {
			.pad-left(0);
			}
			li:before {
			.none;
			content: "";
			}
		}
		
		blockquote {
		.no-border;
		.pad-all(1);
		.bg-col(@red);
		.col(@white);
		.serif;
		.italic;
		.center;
		.rounded(4px);	
			a {
			.col(@white);
			.normal;
				&:hover, &:active, &:focus {
				.col(@redMid);	
				}
			}
		}
		
		.cover-img {
		.bg-col(@grey70);
		.shadow-inset-10;
		.rounded(4px);
		.pad-all(2);
		.mag-bot(2);
			img {
			.block;
			margin: auto;	
			width: 50% !important;
			height: auto !important;
				
				@media (min-width: @screen-md) { 
					width: 100% !important;
					height: auto !important;
				}

			}	
		}
		
		table.cookielawinfo-classic {
		.mag-bot(2);
			thead tr th {
			.bg-col(@red);
			.col(@white);	
			.slab-serif;
			
				&.cookielawinfo-column-1 {
				width: 20%;
				}
				
				&.cookielawinfo-column-2 {
				width: 10%;	
				}
				
				&.cookielawinfo-column-3 {
				width: 10%;	
				}
				
				&.cookielawinfo-column-4 {
				width: 60%;	
				}
			}
			
			tbody tr td {
			.font-size(1.2);
			.sans-serif;	
			}
		}
		
		footer {
			p {
			.mag-bot(0);
			.center;
				strong {
				.col(@red);
				.block;
				}
			}
			.footer-links {
			.mag-bot(1);
				
				@media (min-width: @screen-sm) { 
				.mag-bot(2);
				}
			
				a {
				.block;
				.col(@grey);
					&:hover {
					.col(@red);
					}
					
					@media (min-width: @screen-sm) { 
					.inline;
					.pad(0;1;0;1);
					}
				}
				
			}
			
			.download-links {
				.mag-bot(2);
				
				a {
				.col(@white);
				.no-border;
				.slab-serif;
				.caps;
					
					&.download-btn {
					.bg(@red; "circle-arrow-down-16x16.png"; no-repeat;  95% ;center);
					}
					
					&.preview-btn {
					.bg(@redMid; "view-icon-16x16.png"; no-repeat;  95% ;center);
					}
					
					&:hover {
						.bg-col(@grey);
					}
				}
			}
			
			.post-links {
			.over-hide;
			.mag-bot(2);
				
				span {
				.block;
					&.prev {
						.fleft;
						a {
						.pad(0; 2; 0; 6);
						.bg-img("circle-arrow-left-16x16.png");
						.bg-repeat(no-repeat);
						background-position: left center;
						}
					}	
					&.next {
						.fright;
						
						a {
						.pad(0; 6; 0; 2);
						.bg-img("circle-arrow-right-16x16.png");
						.bg-repeat(no-repeat);
						background-position: right center;
						}
					}
				}
				
				a {
				.block;
				.h(3);
				.line-h(3);	
				.rounded(4px);
				.bg-col(@grey);
				.col(@white);
				.no-text-dec;
					&:hover {
						.bg-col(@redMid);
					}
				}
			}
			
			.edit-link {
			.mag-bot(2);	
			}
		}
		
	}
	
	.pages-links {
	.h(3);
	.mag-bot(2);
		
		a {
		.block;
		.h(3);
		.line-h(3);
		.bg-col(@redMid);
		.col(@white);
		.no-text-dec;
		.rounded(4px);
		.bg-repeat(no-repeat);
			&:hover, &:active, &:focus {
			.bg-col(@red);	
			}
		}
		
		.prev {
		.fleft;
		
			a {
			.pad(0;2;0;5);	
			background-position: left center;
			.bg-img("circle-arrow-left-16x16.png");
			}
		}
		
		.next {
		.fright;
		
			a {
			.pad(0;5;0;2);	
			background-position: right center;
			.bg-img("circle-arrow-right-16x16.png");
			}
		}
		
		
	}
	
}

#claim-form-btn {
.fixed;
.h(5);
width: 100%;
z-index: 16;
.align-right;
.bg(transparent; "white-gradient-50h.png"; repeat-x; left ;top);
.transition(0.5s, ease-in-out);

	&.btn-hidden {
	.bottom(-8);
	.opacity(0);
	}
	
	&.btn-visible {
	.bottom(0);
	.opacity(1.0);
	}

	button {
	.no-border;
	width: 100%;
	.font-size(1.8);
	.col(@white);
	.bg-col(@red);
	.border-radius(10px, 0, 0, 10px);
	.drop-shadow(0, 0, 10px, 0.7);
	//.mag-right(2);
	.slab-serif-bold;
	.align-left;
	.pad-left(2);
	.bg(@red; "quick-link-arrow-white.png"; no-repeat; right ;center);
	.h(5);
		&:hover, &:active, &:focus {
		.bg-col(@redMid);
		}
		
	}
	
}