#home-page-content {
.rel;
width: 100%;
z-index: 15;
.drop-shadow(0, 5px, 50px, 0.7);

	&.side-form-open {
	 box-shadow: none;
	}
	
	#promo-links {
		.pad(3;0;2;0);
		.red-gradient-bg;
		
		@media (min-width: @screen-md) { 
		.pad(3;0;3;0);	
		.border-bot(@red, 0.5);
		}
	
		@media (min-width: @screen-lg) { 
		.pad(3;0;3;0);
		.border-bot(@red, 0.5);
		}
		
		.btn {
		.bg(@white; "quick-link-arrow.png"; no-repeat; right ; center);
		.col(@red);
		.caps;
		.slab-serif;
		.rel;
		.no-border;
		.mag-bot(1);
		.font-size(1);
			
			@media (min-width: @screen-xs) { 
			.font-size(1.8);	
			}
			
			@media (min-width: @screen-md) { 
			.mag-bot(0);
			}
		
			span {
			.abs;
			.left(0);
			.top(0);
			.bottom(0);
			.w(4);	
			.bg-pos(@red; no-repeat; center; center);
			.border-radius(0, 0, 4px, 4px);
				&.newsletter {
					.bg-img("newsletter-icon.png");
					
					@media
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2){ 
					  
					.bg-img("x2/newsletter-icon-x2.png");
					.bg-size(contain);
					}
				}
				
				&.contact-us {
					.bg-img("contact-us-icon.png");
					
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (   min--moz-device-pixel-ratio: 2),
					only screen and (     -o-min-device-pixel-ratio: 2/1),
					only screen and (        min-device-pixel-ratio: 2){ 
					  
					.bg-img("x2/contact-us-icon-x2.png");
					.bg-size(contain);
					}
				}
			}
			
			&:hover {
				.bg-col(@grey);
				.col(@white);
			}
		}
	}

}