#panels {
	//.bg-col( lighten(@black, 60%) );
	.gray-gradient-bg;
	.pad-top(3);
	.pad-bot(4);
	
	.panel-outer {
	width: 100%;
	.mag-bot(1);
	
		@media (min-width: @screen-md) { 
		.fleft;
		width: 20%;
		.mag-bot(0);
		}
	
	}
	
	a.parent-link { .font-size(1.8); .line-h(4.3); text-indent: 48px;}
		
	li {.font-size(1.2) }
	
	@media (min-width: @screen-sm) { 
		
		a.parent-link { .font-size(2); }
		
	}
	
	@media (min-width: @screen-md) { 
		
		a.parent-link { .font-size(1.8); .min-h(4.1); .line-h(2); text-indent: inherit;}
		
		li {
			.font-size(1.2);	
		}
	}
	
	@media (min-width: @screen-lg) { 
	
		a.parent-link { .font-size(2); .min-h(4.5); .line-h(2.2) }
		
		li {.font-size(1.4) }
	}

	
	.panel-wrap {
	.rel;
	.mag-left(1.5);
	.mag-right(1.5);
	.bg-col(@grey80);
	.pad-all(1);
	.rounded(4px);
	
			@media (min-width: @screen-md) { 
			height: auto;
			.bg-col(transparent);
			.pad-all(0);
			.pad-bot(4.5);
			.rounded(0px);
			}
	
		span.icon {
			.block;
			.abs;
			.h(4.3);
			.w(4.8);
			.bg-pos(transparent; "no-repeat");
			background-position: left center;
			//background-size: contain;
			.bg-size(contain);
			
			@media (min-width: @screen-md) { 
			.rel;
			background-position: center center;
			.bg-size(auto);
			//background-size: auto;
			.mag-bot(1);
			.h(8.1);
			width: auto;
			.no-float;
			}
			
				&#clinical-negligence-icon {
				.bg-img("clinical-negligence-icon.png");
				}
				
				&#personal-injury-icon {
				.bg-img("personal-injury-icon.png");
				}
				
				&#road-traffic-accidents-icon {
				.bg-img("road-traffic-accidents-icon.png");
				}
				
				&#professional-negligence-icon {
				.bg-img("professional-negligence-icon.png");
				}

				
				&#commercial-litigation-icon {
				.bg-img("business-litigation-icon.png");
				}

		}
	
		a.parent-link {
		.block;	
		.center;
		.bold;
		.serif;
		.col(@red);
		.no-text-dec;
		.h(4.3);
		.pad-right(1.6);
		.bg(transparent; "circle-arrow-right-red.png"; no-repeat;  right; center);
		
			&:hover, &:active {
			.col(@redMid);
			}
			
			@media (min-width: @screen-sm) { 
			width: 70%;
			.pad-right(0);
			background-image: none;
			}
			
			@media (min-width: @screen-md) { 
			.mag-bot(2);
			width: auto;
			height: auto;
			}
		}
		
		.panel-list-wrap {
		.over-hide;
		.transition;
		
			&.list-closed {
			.h(0);	
			}
			
			&.list-open {
			height: auto;	
			.pad-bot(1);
			}

		}
		
		ul {
			list-style: none;
			.pad-left(0);
			.mag-bot(0);
			.center;
			li {
				.line-h(1.6);
				.pad-bot(.8);
				.mag-bot(.8);
				.border-bot(@grey80;0.1);
				a {
				.pad-right(2);
				.block;
				.no-text-dec;
				.bg(transparent; "circle-arrow-right-red.png"; no-repeat; right ; center);
				}
			}
		}
		
		.panel-list-btn {
		.mag-bot(1);
		.bg-col(@redMid);
		.col(@white);
		.slab-serif;
		.no-border;
		.rel;
		.align-left;
		.pad-left(2);
		
			span {
			.abs;
			.right(0);
			.top(0);
			.bottom(0);
			.w(3.2);
			.bg-col(@red);	
			.border-radius(4px, 4px, 0, 0);
			.bg-pos(@red; no-repeat; center; center);
				&.up {
				.bg-img("practice-minus.png")
				}
				
				&.down {
				.bg-img("practice-plus.png");
				}
			}
			
			&.list-closed {
				span.up {
			
					.none;
				}
			}
			
			&.list-open {
			.bg-col(@grey);	
				span.down {
					.none;
				}
			}
			
			&:hover, &:active {
			.bg-col(@grey);	
			}
		}
				
		.claim-btn {
		.abs;
		.bottom(1);
		.right(1);
		.bg-col(@red);
		.col(@white);
		.no-border;
		.slab-serif;
		.align-left;
		.pad-left(2);
		width: 30%;
		

		@media (min-width: @screen-md) { 
		.font-size(1.6);	
		.bottom(0);
		width: 100%;
		right: auto;
		}
	
		@media (min-width: @screen-lg) { 
		.font-size(1.8);
		}
	
			span {
			.abs;
			.top(0);
			.right(0);
			.bottom(0);
			.w(3);
			.bg-col(@redMid);	
			.border-radius(4px, 4px, 0, 0);
			.bg(@redMid; "arrow-right.png"; no-repeat;  center; center);
			}
			
			&:hover, &:active {
			.bg-col(@grey);	
			}
		}
	}
	
}