.sidebar {
	.pad-top(2);
	
	@media (min-width: @screen-md) {
	.pad-top(4);
	}
	
	.sidebar-block {
		.bg-col(@redMid);
		.mag-bot(1);
		.rounded(4px);
		
		label{
			.col(@white);
		}
		
		#gforms_confirmation_message {
			.col(@white);
		}
		
		&.widget_recent_entries, &.widget_categories {
			
			ul {
			list-style: none;
			.pad-all(2);
			.mag-bot(0);
			}
	
		}
			
			ul.links {
				list-style: none;
				.pad-all(2);
				.mag-bot(0);
					li {
						.pad-bot(.5);
						.border-bot(@red, 0.1);
						.mag-bot(.5);
						.rel;
						
						&:last-child {	
						.mag-bot(0);
						}
						
						&.current-parent, &.current-page {
							&:before {
								.abs;
								top: 50%;
								.mag-top(-1.25);
								.left(-2);
								content: "";
								.border-left(@white, 1);
								.border-top(transparent, 1);
								.border-bot(transparent, 1);
							}
						}
						//child ul
						ul.children{
						.mag-top(1);
						list-style: none;	
						.pad-left(0);
						
							li {
							.no-border;
							
								a {
								.col(@grey80);	
									&:hover, &:active, &:focus {
									.col(@red);	
									}
								}
								
								&:before {
								.fleft;
								.line-h(1);
								content: "\00BB";
								.col(@red);
								.bold;		
								.mag-right(1);
								}	
							}
						}//child ul
						
					}
			}
			
			ul.gallery-imgs {
			list-style: none;
			.pad(2;1;0;1);
			.mag-bot(0);
			
				&:before, &:after {
				display: table;
				content: "";
				line-height: 0;
				}
				
				&:after {
				clear: both;
				}
			
				li {
				.fleft;	
				.mag-bot(1);
				width: 33.3%;
				
				@media (min-width: @screen-sm) {
				width: 14%;
				}
				
				@media (min-width: @screen-md) {
				width: 33.3%;
				}
				
					a {
					.rel;
					.block;
					.over-hide;
					.transition;
						
						.zoom-icon {
						.abs;
						.w(7);
						.h(7);
						.top(0);
						left: 50%;
						.mag-left(-3.5);
						.opacity(0);
						.bg-col(@red);
						.col(@white);	
						.rounded(4px);
						.center;
						.line-h(7);
						.font-size(2);
							span {
								top: 2px;
							}
						}
						
						&.hover {
							.zoom-icon {
							.opacity(0.7);
							}	
						}
					
					}
					
					img {
					.block;	
					margin: auto;
					.rounded(4px);
					}
				}	
			}
			
			p.zoom-btn-message {
				.col(@white);
				.pad(0;2;2;2);
				.mag-bot(0);
				.font-size(1.2);
			}
			
			.block-content {
				.pad-all(2);
				
				h3 {
				.col(@white);	
				.mag-all(0);
				.large-txt;
				}
				
				p {
				.col(@white);
				.mag-bot(0);	
				}
			}
			
			h2 {
			.bg-col(@red);
			.font-size(1.6);
			.pad(1; 2; 1; 2);	
			.col(@white);
			.caps;
			.serif;
			.mag-all(0);
			.border-radius(4px, 0, 0, 4px);
			}
			
			h2.link {
			.bg-col(transparent);	
			.pad-all(0);
				a {
					.bg-col(@red);
					.block;
					.col(@white);
					.pad(1; 4; 1; 2);	
					.no-text-dec;
					.border-radius(4px, 0, 0, 4px);
					outline: 0;
					.rel;
					
					&:hover, &:active, &:focus {
					.bg-col(@grey);
					}
					
					&:after {
						content: "";
						.w(1.6);
						.h(1.6);
						.bg(transparent; "circle-arrow-right.png"; no-repeat;  center ;center);
						.abs;
						.right(2);
						top: 50%;
						.mag-top(-0.8);
					}
				}
			}
			
			a {
				.block;
				.col(@white);
				.line-h(1.6);
				.no-text-dec;
					&:hover, &:active {
						.col(@red);
					}
			}
			
			span.post-date {
				.block;
				.col(@red);
				.font-size(1.2);
				.caps;
				.pad-bot(1);
				.mag-bot(1);
				.border-bot(@red; 0.1);
			}
			
			li:last-child {
				span.post-date {
				.mag-bot(0);
				.pad-bot(0);
				.no-border;
				}
			}
			
			.tagcloud {
				.pad-all(2);
				
				a {
				.inline;
				}

			}
			
	}
	
	.sidebar-downloads {
		.mag-bot(1);
		
		a {
		.block;
		.transition;
		.no-text-dec;
		outline: 0;
		.rounded(4px);
		.pad(1;3;1;1);
		.bg(@red; 'circle-arrow-right.png'; no-repeat; 97% ;center);
		
			img {
			.opacity(1.0);
			width: 100% !important;
			height: auto !important;
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@redMid);
			}
		}
	}
	
	.sidebar-promotion {
		.mag-bot(1);
		
		a {
		.transition;
		.no-text-dec;
		outline: 0;
		
			img {
			.rounded(4px);
			.opacity(1.0);
			width: 100% !important;
			height: auto !important;
			}
			
			&:hover, &:active, &:focus {
			.opacity(0.7);
			}
		}
	}
	
	.sidebar-freephone {
		//.bg-col(@black70);
		.gradient(@red, @redMid, @red);
		.inner-shadow(0, 0, 10px, 0.7);
		.pad-all(1);
		.mag-bot(1);
		.rounded(4px);
		.col(@white);
		.center;
		
		@media (min-width: @screen-md) { 
		.pad-all(2);
		.align-left;
		}
		
		h3 {
		.mag-top(0);
		.mag-bot(0);
		.col(@white);
		.caps;
		.serif;
		
			@media (min-width: @screen-sm) { 
			.inline;
			}
			
			@media (min-width: @screen-md) { 
			.block;
			}
		}
		
		p {
		.mag-bot(0);
		.serif;
		.italic;
		.font-size(3);	
		.line-h(3);
			
			@media (min-width: @screen-sm) { 
			.inline;
			}
			
			@media (min-width: @screen-md) { 
			.block;
			}
			
			span {
			.mag-right(.5);
			.font-size(2.5);		
			}
			
			a {
			.col(@white);	
			}
		}
		
	}
		
	.sidebar-map {
		.mag-bot(1);
		
		iframe {
		.no-border;	
		.border(@red, 0.2);
		width: 100% !important;
		}
		
		img {
		.rounded(4px);
		.opacity(1.0);
		width: 100% !important;
		height: auto !important;
		}
	}
	
	.sidebar-image {
		.mag-bot(1);
		
		img {
		.rounded(4px);
		.opacity(1.0);
		width: 100% !important;
		height: auto !important;
		}
		
		a {
		.block;
		.transition;
		.no-text-dec;
		outline: 0;
		.rounded(4px);
		.pad(1;3;1;1);
		.bg(@red; 'circle-arrow-right.png'; no-repeat; 97% ;center);
		
			img {
			.opacity(1.0);
			width: 100% !important;
			height: auto !important;
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@redMid);
			}
		}
	}
	
	#dotMailer_news_letter {
	.pad(1.5; 2; 2; 2);
		p, label {
		.col(@white);	
		}
		input[type="text"], input[type="string"] {
		width: 98%;	
		.mag-bot(.5);
		 .rounded(4px);
		 .h(3);
		 .no-border;
		 .indent(.5);
		}
		
		
	}

}