#side-nav-wrap {
.w(30.5);
height: 100%;
.abs;
.top(0);
.right(0);
.bg-col(@black);
.over-y;
z-index: 2;

	#side-nav {
	.pad-all(3);	
	.mag-bot(15);	
	}
	
	a {
	.col(@white);
	.no-text-dec;
		&:hover, &:active, &:focus {
		.col(lighten(@black, 50%));
		}	
	}
	
	button.close {
	.col(@white);	
	.abs;
	.right(1);
	.top(.5);	
	}
	
	ul {
	.mag-all(0);
	.pad-all(0);
	}
	
	//top level ul
	ul.menu {
	list-style: none;
		//Top level li	
		li {
		.caps;	
		.mag-bot(2);
		
		a {
		.block;	
		.border-bot(@white, 0.1);	
		.mag-bot(1);
		}
		
		a[href="#"] {
		.col(@white);
		pointer-events: none;
		cursor: text;
		}	
		
		&.icon-link {
			.fleft;
			.mag-right(1);
			.txt-gone;
			.mag-bot(1);
			
			a {
			.w(3);
			.h(3);
			.bg-col(lighten(@black, 20%));
			.rounded(4px);
			outline: none;
				&:hover, &:active, &:focus {
				.bg-col(lighten(@black, 30%));	
				}
			}
		}
		
			//Submenu
			ul.sub-menu {
			list-style: none;	
				li {
				.no-caps;
				.mag-bot(0);
				.bold;	
				
					a {
					.no-border;
					.inline;	
					.mag-bot(0);
					}
					
					&.with-sub-level {
						
						a {
							span {
							.in-block;
							.w(1);
							.h(1);
							.bg-pos(transparent; no-repeat; center ;center);
							.mag-right(.8);	
								&.ui-icon-minus {
								.bg-img("sbm-minus.png");
								}
								&.ui-icon-plus {
								.bg-img("sbm-plus.png");
								}
								
								
							}
							
							&.ui-state-active {
							.col(lighten(@black, 50%));
							}
						}
					}
					
					//sub submenu
					ul.sub-menu {
					.mag-bot(1);
						li {
						.normal;

							a {
							.block;
							.pad-left(2);
							.rel;
								&:before {
								content: "\007E";
								.abs;
								.left(0);
								.col(@white);	
								}
							}
						}
					}//sub submenu
				}
			}//Submenu
			
		}//Top level li	
		
	}//top level ul
	
}