/* BASE SIZES */
@baseSize: 10;

/* COLORS */

@white: #EEEEEE;
@black: #333333;

@black10: lighten(@black, 90%);
@black20: lighten(@black, 80%);
@black30: lighten(@black, 70%);
@black40: lighten(@black, 60%);
@black50: lighten(@black, 50%);
@black60: lighten(@black, 40%);
@black70: lighten(@black, 30%);
@black80: lighten(@black, 20%);
@black90: lighten(@black, 10%);

/* FONTS */

@san-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif: "Times New Roman", Georgia, Times, serif;


/* SCREEN SIZES */
@screen-md: 920px;
@screen-lg: 1200px;